### **Analysis of Iris Flower Dataset**

In [1]:
import pandas as pd
import matplotlib.pyplot as ply
import seaborn as sns

In [2]:
df = pd.read_csv('C:\\Users\\shiwa\\Downloads\\Iris Flower - Iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [8]:
df2 = df.drop(['Species'], axis = 1, inplace = False)

In [9]:
Q3 = df2.quantile(0.75)
Q1 = df2.quantile(0.25)
IQR = Q3 - Q1
IQR

Id               74.5
SepalLengthCm     1.3
SepalWidthCm      0.5
PetalLengthCm     3.5
PetalWidthCm      1.5
dtype: float64

In [11]:
up = Q3 + 1.5*IQR
lb = Q1 - 1.5*IQR
outliers = df2[((df2 < lb)| (df2 > up)).any(axis=1)]
outliers.sum().sum()

189.7

In [13]:
df2 = df2.drop(outliers.index)
df2.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  146.000000     146.000000    146.000000     146.000000    146.000000
mean    76.582192       5.856849      3.036986       3.807534      1.219863
std     43.453305       0.834093      0.395145       1.757117      0.760365
min      1.000000       4.300000      2.200000       1.000000      0.100000
25%     40.250000       5.100000      2.800000       1.600000      0.300000
50%     77.500000       5.800000      3.000000       4.400000      1.300000
75%    113.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.000000       6.900000      2.500000